LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_PROJECT=resume-screening-demo

HUGGINGFACEHUB_API_TOKEN=your_huggingface_api_token_here
